<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>
    <header>
        <h1>The store</h1>
        <p>This is a store.</p>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="{{ url_for('products') }}">Products</a>
        <a href="{{ url_for('add_product') }}">Add Product</a>
    </nav>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2026 Programmazione Web UNICA</p>
    </footer>
</body>
</html>